<div class="about-main">
  <div class="about-page" jzScroll>
    <div class="about-main-content scroll-content">
      <div class="border-block"></div>
      <div class="heading-wrapper">
        <div class="about-main-heading">
          <h2>About Me</h2>
          <h5>Developer, Thinker</h5>
        </div>
      </div>
      <div class="row main-info">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="about-main-photo">
            <img alt="Photo" class="main-photo" src="../../../assets/images/me.jpg">
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 about-main-description">
          <h3>Front-end Developer</h3>
          <p>Добрый день. Вот уже 3 года я занимаюсь веб-разработкой. Большую часть свободного времени я активно
            занимаюсь изучением WEB-технологий и применению этих знаний на практике. Остальную его часть посвящаю спорту и гитаре.
          </p>
          <p>Сейчас я ищу работу, на которой смогу заниматся тем, что мне нравится и тем, что вызывает огромный интерес,
            на которой буду учиться чему-то новому, постоянно развиваться, прокачивая все свои "скилы", и покорять
            всё новые и новые вершины удивительной, разнообразной и очень интересной сферы WEB-разработки.</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <ul class="info-list">
            <li><span class="title">Возраст</span><span class="value">25</span></li>
            <li><span class="title">Страна</span><span class="value">Украина</span></li>
            <li><span class="title">e-mail</span><span class="value">alexey.belodedov@gmail.com</span></li>
            <li><span class="title">Телефон</span><span class="value">+38 095 168 9334</span></li>
            <li><span class="title">Skype</span><span class="value">zmd-jimmz</span></li>
            <li><span class="title">Freelance</span><span class="value">Занят</span></li>
          </ul>
          <ul class="social-block">
            <li class="social-item"><a class="social-link" href="http://vk.com/jimmz"><i class="fab fa-vk"></i></a></li>
            <li class="social-item"><a class="social-link" href="https://www.linkedin.com/in/alexbelodedov/"><i
              class="fab fa-linkedin"></i></a></li>
            <li class="social-item"><a class="social-link" href="skype:zmd-jimmz"><i class="fab fa-skype"></i></a></li>
            <li class="social-item"><a class="social-link" href="tg://resolve?domain=Jimm_Z"><i class="fab fa-telegram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="block-title">
        <h3>Services</h3>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="service-block">
            <i class="fa fa-code"></i>
            <h4>Чистый, семантичный код</h4>
            <p>Граммотный, чистый код с комментариями, соблюдейние всех требований и стандартов W3C.org</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-block">
            <i class="fa fa-cogs"></i>
            <h4>Адаптивность и кроссбраузерность</h4>
            <p>У ваших клиентов никогда не возникнет проблем с отображением сайта на разных устройствах.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-block">
            <i class="fas fa-chart-line"></i>
            <h4>SEO-friendly</h4>
            <p>Код соответствующий требованиям основных поисковых роботов.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-block">
            <i class="far fa-life-ring"></i>
            <h4>Поддержка 24/7</h4>
            <p>В любое время дня и ночи, Вы можете связаться со мной и задать интересующий вопрос.</p>
          </div>
        </div>
      </div>
      <div class="block-title">
        <h3>Fun Facts</h3>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact fun-fact-dark">
            <i class="pe-7s-icon pe-7s-alarm"></i>
            <h4>Working Hours</h4>
            <span>19,683</span></div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact ">
            <i class="pe-7s-icon pe-7s-smile"></i>
            <h4>Happy Clients</h4>
            <span>53</span></div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact fun-fact-dark">
            <i class="pe-7s-icon pe-7s-note"></i>
            <h4>Lines of code written</h4>
            <span>2,280,000</span></div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact ">
            <i class="pe-7s-icon pe-7s-coffee"></i>
            <h4>Coffee Consumed</h4>
            <span>5,241</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
