<aside id="aside-box">
  <div class="aside-photo">
    <img alt="Мое фото" src="../../assets/images/me.jpg">
  </div>
  <div class="aside-name">
    <span>Alexey Belodedov</span>
  </div>
  <ul class="aside-menu" id="menu">
    <li class="aside-menu-item" routerLink="home" routerLinkActive="aside-menu-item-active"><a class="aside-menu-link"><i class="pe-7s-home aside-menu-icon"></i>Home</a></li>
    <li class="aside-menu-item" routerLink="about-me" routerLinkActive="aside-menu-item-active"><a class="aside-menu-link"><i class="pe-7s-user aside-menu-icon"></i>About me</a></li>
    <li class="aside-menu-item" routerLink="resume" routerLinkActive="aside-menu-item-active"><a class="aside-menu-link"><i class="pe-7s-id aside-menu-icon"></i>Resume</a></li>
    <li class="aside-menu-item" routerLink="portfolio" routerLinkActive="aside-menu-item-active"><a class="aside-menu-link"><i class="pe-7s-portfolio aside-menu-icon"></i>Portfolio</a></li>
    <li class="aside-menu-item" routerLink="contact" routerLinkActive="aside-menu-item-active"><a class="aside-menu-link"><i class="pe-7s-mail aside-menu-icon"></i>Contact</a></li>
    <li class="aside-menu-item" routerLink="blog" routerLinkActive="aside-menu-item-active"><a
      class="aside-menu-link"><i class="pe-7s-news-paper aside-menu-icon"></i>Blog</a></li>
  </ul>
</aside>
