.about-main {
  position: relative;
  height: 100%;
  max-width: 1240px;
  margin: 0 auto
}

.me {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px 60px 50px
}

.home-container {
  text-align: center
}

.home-container h2 {
  font-size: 70px;
  color: #ff724c
}

.home-container .home-sub {
  font-size: 21px
}

@media (max-width: 990px) {
  .me {
    padding: 0
  }
}
